<div class="container search-form mr-5">
  <table align="center">
    <tr>
      <div class="search-form">
        <%= form_with(url: tagsearches_search_path, method: :get, local: true) do |f| %>
          <td>
            <%= f.text_field :tagcontent, id: "field2", placeholder: "タグを入力してください。", class: "form-control" %>
          </td>
          <td>
            <%= button_tag type: "submit", class: "btn btn-primary" do %>
              <i class="fa-solid fa-magnifying-glass fa-beat"></i>
            <% end %>
          </td>
        <% end %>
      </div>
    </tr>
  </table>
</div>