    <h3>ライフハック タグ検索一覧 "<%= @word %>"</h3>
  <% if admin_signed_in? %>
    <%= render 'admin/lifehacks/index', lifehacks: @lifehacks %>
  <% else %>
    <%= render 'public/lifehacks/index', lifehacks: @lifehacks %>
  <% end %>
    <%= render "layouts/page", obj: @lifehacks %>