<div class="container py-1">
  <div class="row">
    <div class="col-md-12 text-center"> <!-- カラムの幅を中サイズ以上で12に設定 -->
      <h1 style="font-size: 5rem;">About</h1> <!-- フォントサイズをリモートに調整 -->
      <p style="font-size: 1.5rem;">
        生活の中でちょっとしたライフハックを共有し合い、<br>
        普段の生活が少しでも楽しく快適になるようにと願いを込めて、<br>
        このコミュニティサイトを作成しました。<br>
        ぜひお気軽に投稿して、日々の生活に役立ててください。
      </p>
      <div class="about_image mb-4">
        <%= image_tag 'savings.jpg', size: "400x250", class: "img-fluid" %> <!-- 画像をレスポンシブにするためにimg-fluidクラスを追加 -->
      </div>
    </div>
  </div>
</div>