<div class="container py-1">
  <div class="row">
    <div class="col-12 mx-auto text-center">
      <h1 style="font-size:100px">About</h1>
      <p style="font-size:24px;">
        生活の中でちょっとしたライフハックを共有し合い、<br>
        普段の生活が少しでも楽しく快適になるようにと願いを込めて、<br>
        このコミュニティサイトを作成しました。<br>
        ぜひお気軽に投稿して、日々の生活に役立ててください。
      </p>
      <div class="about_image mb-4">
        <%= image_tag 'savings.jpg', size: "400x250" %>
      </div>
    </div>
  </div>
</div>