<%= form_with(model: [lifehack, lifehack_comment], local: false) do |f| %>
  <%= f.text_area :comment, rows: '5', placeholder: "コメントでリアクションしてみましょう。", class: "form-control" %><!--5行分の入力フォーム-->
  <div class="row">
    <div class="col-3 offset-9">
      <div class="d-flex justify-content-end mt-2">
        <%= f.submit "コメントを送信", class: "btn btn-primary px-5" %>
      </div>
    </div>
  </div>
<% end %>