<%= form_with(model:[lifehack, lifehack_comment], local: false) do |f| %>
  <%= f.text_area :comment, size: "100x20", rows:'5',placeholder: "コメントでリアクションしてみましょう。", class:"form-control" %>
  <div class "row">
    <div class="col-4 offset-8">
      <%= f.submit "コメントを投稿", class: "btn btn-primary px-5" %>
    </div>
  </div>
<% end %>