@use '~bootstrap/scss/bootstrap';


body {
//url("../images/background_image.jpg")；の「../」は階層のこと
  background-image: url("../images/background_image.jpg");
  background-size: cover;
}

/* styles.css */
.custom-select {
  background-color: #f2f2f2;
  font-size: 16px;
}