@use '~bootstrap/scss/bootstrap';



body {//背景画像
//url("../images/background_image.jpg")；の「../」は階層のこと
  background-image: url("../images/background_image.jpg");
  background-size: cover;
}


/* トップ画像のサイズを変更するクラス */
.image-size {
    width: 100%; /* 幅を710pxに設定 */
    height: 400px; /* 高さを400pxに設定 */
}

/*トップ画像スライドショー*/

.slider {
    visibility: hidden;
    z-index: -1;
}

.slider.slick-initialized {
    visibility: visible;
}

.slick-prev, .slick-next {
    z-index: 1;
}
.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.main-visual-content {
  text-align: center;
  width: 60%; /* 横幅60% */
  height: 400px; /* 親の高さに揃える */
  background-color:rgba(255,255,255,0.7); /*白背景透過
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */
}

.main-visual-text {
  color: #000000; /* 文字色を白に変更 */
  font-size: 30px;
}

/* styles.css */
.custom-select {
  background-color: #f2f2f2;
  font-size: 16px;
}

.lifehack_item {
  font-size: 23px; /* テーブルセル内のテキストのフォントサイズ */
}

.lifehack_detail {
  font-size: 18px; /* テーブルセル内のテキストのフォントサイズ */
}

.lifehack-comments-counter {
  font-size: 18px; /* テーブルセル内のテキストのフォントサイズ */
}

.lifehack-comments-index {
  font-size: 18px; /* テーブルセル内のテキストのフォントサイズ */
}


.user_item {
  font-size: 23px; /* テーブルセル内のテキストのフォントサイズ */
}

.user_detail {
  font-size: 18px; /* テーブルセル内のテキストのフォントサイズ */
}


.custom.heart td .icon-container i.fas.fa-heart {
  color: red; /* 管理者ログイン時ユーザーのいいね一覧ページの場合のハートの色 */
}

/* ページネーションリンクにスタイルを適用 */
.pagination a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 15px;
}

/* ページネーションリンクのホバー時のスタイル */
.pagination a:hover {
  background: #93c9ff; /* ホバー時の背景色を変更 */
}

/* アクティブなページへのスタイル */
.pagination .active a {
  background: #93c9ff; /* アクティブなページの背景色を変更 */
  color: #fff; /* テキストの色を変更 */
}

/* 現在のページ番号の背景色を変更 */
.pagination .page.current {
  background-color: #93c9ff; /* 好きな背景色に変更 */
  color: #fff; /* テキストの色を変更（背景に合わせたり） */
  border-radius: 15px; /* 角を丸くするなど、必要に応じてスタイルを調整 */
  padding: 2px 5px;
}