@use '~bootstrap/scss/bootstrap';

body {/*body全体に適用*/
    /*url("../images/background_image.jpg")；の「../」は階層のこと*/
    background-image: url("../images/background_image.jpg");/*背景画像*/
    background-position: center;
    background-size: cover;
    padding-top: 180px; /* ヘッダーと被るため余白を設定 */
}


/*↓ここからヘッダー*/
.header {
    background-color: #F5F6CE;
    position: fixed; /* ヘッダーを固定 */
    width: 100%; /* ヘッダーを横幅いっぱいに広げる */
    top: 0; /* ページ上端に固定 */
    z-index: 100; /* 他の要素より手前に表示 */
}
.button {
    position: absolute; /* 要素を絶対位置に配置 */
    top: 0; /* 上端からの距離を0に設定 */
    right: 0; /* 右端からの距離を0に設定 */
    margin: 20px; /* マージンを追加して位置を微調整（必要に応じて調整） */
    z-index: 200; /* 必要に応じてz-indexを設定して他の要素より上に表示 */
}
.nav-link {/*ヘッダーグローバルナビ*/
    margin-top: 0.25rem;
}
.guest_btn {/*ヘッダーゲストボタン幅*/
    width: 10em;
}
.nav-item { /* アイコンとリンクのあいだの余白 */
    margin-left: 0.5rem;
    border-radius: 15px; /* 角を丸くする */
}
.navbar-light .navbar-nav .nav-link {
    color: #495057;/* 文字色 */
}
.nav-item:hover { /* カーソルが上にあるときの背景色 */
    background-color: #F4FA58;
    border-radius: 15px; /* 角を丸くする */
    transition: 0.3s;/*0.3sで表示*/
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);/*影を表現*/
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;/* カーソルが上にあるときの文字色 */
    transition: 0.3s;/*0.3sで表示*/
}
.guest_btn { /* ゲストログインボタン */
    background-color: #eb6100;/*背景色*/
    color: white;/*文字職*/
    border: none;/*枠線非表示*/
    padding: 10px 15px;/*内側の要素の余白*/
    border-bottom: 7px solid #9e4a0e;/*ボタンの下側の色を濃ゆくしてボタンを表現*/
    box-shadow: 0px 3px 4px black;/*X軸に0px、Y軸に3px、拡散性（Z軸）4pxの影を表現*/
    cursor: pointer;/*ポインターにする*/
}
.guest_btn:hover {/*ボタンのホバー時のアクションを表現*/
    color: #495057;/* 文字色 */
    margin-top: 5px;/*ボタンのホバー時5px分沈み込む*/
    border-bottom: 1px solid #eb6100;/*ボタンのホバー時ボトムの表示が1pxになる*/
    transition: all 0.2s;/*実行完了まで0.2秒かける*/
}
/*↑ここまでヘッダー*/


/*↓ここからトップページ画像サイズとポジション*/
#key_visual {/* トップ画像 */
    position: relative;/*相対値*/
}
.image-size {/* トップ画像のサイズを変更 */
    width: 100%; /* 幅を100%に設定 */
    height: 400px; /* 高さを400pxに設定 */
}
/*↑ここまでトップページ画像サイズとポジション*/


/*↓ここからトップ画像スライドショー*/
.slider {
    visibility: hidden;
}
.slider.slick-initialized {
    visibility: visible;
}
.slick-prev, .slick-next {
    z-index: 1;
}
.slick-prev {
    left: 10px;
}
.slick-next {
    right: 10px;
}
/*↑ここまでトップ画像スライドショー*/


/*↓ここからトップ画像のテキスト*/
.main-visual-content {
    position: absolute;/*絶対値*/
    font-size: 30px;
    z-index: 10;
    text-align: center;
    width: 60%; /* 横幅60% */
    height: 400px; /* 親の高さに揃える */
    padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */
    background-color:rgba(255,255,255,0.7); /*白背景透過 */
}
.main-visual-text {
    color: #495057; /* 文字色をグレーに変更 */
}
/*↑ここまでトップ画像のテキスト*/


.lifehack_listall:hover { /* 「すべての投稿を見る」のカーソルが上にあるときの背景色 */
    padding: 7px;
    background-color: #93c9ff; /* マウスオーバー時の背景色 */
    color: #fff; /* テキストの色を変更 */
    border-radius: 15px; /* 角を丸くする */
    transition: 0.3s;/*0.3sで表示*/
}


.login_text:hover { /* 新規登録、ユーザーログインの「こちら」の上にカーソルがあるときの背景色 */
    padding: 7px;
    background-color: #93c9ff; /* マウスオーバー時の背景色 */
    color: #fff; /* テキストの色を変更 */
    border-radius: 15px; /* 角を丸くする */
}


/* ↓ここから投稿画像のレスポンシブ */
.lifehack_images {
    display: flex;
}
.lifehack_images img {
    max-width: 100%;
    width: 300px;
    height: auto;
}
/* ↑ここまで投稿画像のレスポンシブ */


.card-text-score {/* 自然言語処理、不適切なコメントが投稿されたときの警告文 */
    color: #FF0000;
}


a:hover { /* リンクにカーソルが乗った時下線を表示させない */
    text-decoration: none;
}


.user_list:hover { /* ユーザー一覧カーソルが上にあるときの背景色 */
    background-color: #F2F5A9;
}


.lifehack_list:hover { /* 投稿一覧カーソルが上にあるときの背景色 */
    background-color: #F2F5A9;
}


.comment_card:hover {/* 投稿のコメントカーソルが上にあるときの背景色 */
    background-color: #F2F5A9;
}


.profile_image {/* ユーザー詳細ページ画像中央配置 */
    display: flex;
    justify-content: center;
    align-items: center;
}


.custom-select {/* キーワード検索ドロップダウンメニュー */
    background-color: #f2f2f2;
    font-size: 16px;
}


.user_item { /* テーブルセル内のテキストのフォントサイズ */
    font-size: 23px;
}


.custom.heart td .icon-container i.fas.fa-heart { /* 管理者ログイン時ユーザーのいいね一覧ページの場合のハートの色 */
    color: red;
}


/* ↓ここからページネーションリンクにスタイルを適用 */
.pagination a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
}
.pagination a:hover {/* ページネーションリンクのホバー時のスタイル */
    background: #93c9ff; /* ホバー時の背景色を変更 */
    transition: 0.3s;/*0.3sで表示*/
}
.pagination .active a {/* アクティブなページへのスタイル */
     background-color: #93c9ff; /* アクティブなページの背景色を変更 */
    color: #fff; /* テキストの色を変更 */
}
.pagination .page.current {/* 現在のページ番号の背景色を変更 */
     background-color: #93c9ff; /* 好きな背景色に変更 */
     color: #fff; /* テキストの色を変更（背景に合わせたり） */
    border-radius: 15px; /* 角を丸くする */
    padding: 2px 5px;
}
/* ↑ここまでページネーションリンクにスタイル */


.footer {
    background-color: #F5F6CE;
    text-align: center; /* テキストを中央に配置 */
}


@media (max-width: 576px) {/* スマートフォン用（画面幅が最大576px以下） */
    body {
        padding-top: 270px; /* ヘッダーと被るため余白を設定 */
    }
    .welcome_user {/*「ようこそ、〇〇〇さん！」をレスポンシブ時配置変更 */
        display: flex;
        justify-content: center; /* テキストを水平方向に中央に配置 */
    }
    .main-visual-content {
        font-size: 18px;
    }
    .lifehack_images img {
        max-width: 100%;
        width: 100px;
        height: auto;
    }
    .footer {
    font-size: 14px;
    }
}


@media (min-width: 576px) and (max-width: 768px) {/* タブレット用（画面幅が576px以上～768px以下） */
    .main-visual-content {
        font-size: 24px;
    }
    .lifehack_images img {
        max-width: 100%;
        width: 200px;
        height: auto;
    }
}