@use '~bootstrap/scss/bootstrap';



body {//背景画像
//url("../images/background_image.jpg")；の「../」は階層のこと
  background-image: url("../images/background_image.jpg");
  background-size: cover;
}

/*↓ここからヘッダー*/
.nav-link {/*ヘッダーグローバルナビ*/
  margin-top: 0.25rem;
  margin-right: 1rem;
}
.guest_btn {/*ヘッダーゲストボタン幅*/
  width: 10em;
}
/*↑ここまでヘッダー*/

/*↓ここからトップページ画像サイズとポジション*/
#key_visual {/* トップ画像 */
  position: relative;/*相対値*/
}
.image-size {/* トップ画像のサイズを変更 */
    width: 100%; /* 幅を100%に設定 */
    height: 400px; /* 高さを400pxに設定 */
}
/*↑ここまでトップページ画像サイズとポジション*/

/*↓ここからトップ画像スライドショー*/
.slider {
    visibility: hidden;
}
.slider.slick-initialized {
    visibility: visible;
}
.slick-prev, .slick-next {
    z-index: 1;
}
.slick-prev {
    left: 10px;
}
.slick-next {
    right: 10px;
}
/*↑ここまでトップ画像スライドショー*/

/*↓ここからトップ画像のテキスト*/
.main-visual-content {
  position: absolute;/*絶対値*/
  font-size: 30px;
  z-index: 10;
  text-align: center;
  width: 60%; /* 横幅60% */
  height: 400px; /* 親の高さに揃える */
  padding-top: 105px; /* 上側の内側余白で垂直方向の位置を調整 */
  background-color:rgba(255,255,255,0.7); /*白背景透過 */
}
@media (max-width: 576px) {/* スマートフォン用（画面幅が最大576px以下） */
  .main-visual-content {
    font-size: 18px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {/* タブレット用（画面幅が576px以上～768px以下） */
  .main-visual-content {
    font-size: 24px;
  }
}
.main-visual-text {
  color: #495057; /* 文字色をグレーに変更 */
}
/*↑ここまでトップ画像のテキスト*/

/* ↓ここから投稿画像のレスポンシブ */
.lifehack_images {
  display: flex;
}
.lifehack_images img {
  max-width: 100%;
  width: 300px;
  height: auto;
}
@media (max-width: 576px) {/* スマートフォン用（画面幅が最大576px以下） */
  .lifehack_images img {
    max-width: 100%;
    width: 100px;
    height: auto;
  }
}
@media (min-width: 576px) and (max-width: 768px) {/* タブレット用（画面幅が576px以上～768px以下） */
  .lifehack_images img {
    max-width: 100%;
    width: 200px;
    height: auto;
  }
}
/* ↑ここまで投稿画像のレスポンシブ */

a:hover { /* リンクにカーソルが乗った時下線を表示させない */
  text-decoration: none;
}

.user_list:hover { /* カーソルが上にあるときの背景色 */
  background-color: #F2F5A9;
}

.lifehack_list:hover { /* カーソルが上にあるときの背景色 */
  background-color: #F2F5A9;
}

.custom-select {/* キーワード検索ドロップダウンメニュー */
  background-color: #f2f2f2;
  font-size: 16px;
}

.user_item { /* テーブルセル内のテキストのフォントサイズ */
  font-size: 23px;
}

.custom.heart td .icon-container i.fas.fa-heart { /* 管理者ログイン時ユーザーのいいね一覧ページの場合のハートの色 */
  color: red;
}

/* ↓ここからページネーションリンクにスタイルを適用 */
.pagination a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 15px;
}
/* ページネーションリンクのホバー時のスタイル */
.pagination a:hover {
  background: #93c9ff; /* ホバー時の背景色を変更 */
}
/* アクティブなページへのスタイル */
.pagination .active a {
  background: #93c9ff; /* アクティブなページの背景色を変更 */
  color: #fff; /* テキストの色を変更 */
}
/* 現在のページ番号の背景色を変更 */
.pagination .page.current {
  background-color: #93c9ff; /* 好きな背景色に変更 */
  color: #fff; /* テキストの色を変更（背景に合わせたり） */
  border-radius: 15px; /* 角を丸くするなど、必要に応じてスタイルを調整 */
  padding: 2px 5px;
}
/* ↑ここまでページネーションリンクにスタイルを適用 */

/* ↓ここからフッター */
.footer {
  background-color: #F3F781;
  text-align: center; /* テキストを中央に配置 */
}
@media (max-width: 576px) {/* スマートフォン用（画面幅が最大576px以下） */
  .footer {
    font-size: 14px;
  }
}
/* ↑ここまでフッター */