@use '~bootstrap/scss/bootstrap';


body {
//url("../images/background_image.jpg")；の「../」は階層のこと
  background-image: url("../images/background_image.jpg");
  background-size: cover;
}


div.custom.heart td .icon-container i.fas.fa-heart {
  color: red; /* お気に入りページの場合の色 */
}

/* styles.css */
.custom-select {
  background-color: #f2f2f2;
  font-size: 16px;
}