投稿編集
<%= render 'layouts/error', obj: @lifehack %>
<%= render "public/lifehacks/form", lifehack: @lifehack %>
<div class="row">
  <div class="col-4 offset-2">
    <%= link_to '詳細ページ', @lifehack, class: "btn btn-dark px-5 " %>
  </div>
  <div class="col-4 offset-2">
    <%= link_to '投稿一覧', lifehacks_path, class: "btn btn-dark back px-5 " %>
  </div>
</div>