投稿一覧
<table class="table table-bordered">
  <thead>
    <tr>
      <th>投稿ID</th>
      <th>タイトル</th>
      <th>評価</th>
      <th>いいね数</th>
      <th>コメント数</th>
      <th>投稿ユーザー</th>
    </tr>
  </thead>
  <tbody>
    <% @lifehacks.each do |lifehack| %>
    <tr>
      <td><%= lifehack.id %></td>
      <td><%= link_to lifehack.title, lifehack_path(lifehack.id), class: "text-reset" %></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <%= image_tag lifehack.user.get_profile_image(50, 50) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>