<footer class="mt-auto footer">
  <div class="container-fluid py-4">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight c 2023 smail lifehack co,.ltd. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>